@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');
/*
@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700');

@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-Bold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-Light.woff') format('woff');
  font-weight: 300;
}
*/

::selection {
  background: #fff29e;
  color: #444;
}

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 15px;
  font-family: 'Heebo', 'Inter UI', BlinkMacSystemFont, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #32383E;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
b,
i,
em,
span {
  vertical-align: baseline;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: #32383E;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

/* Custom stuff */
.wrapper {
  margin: 0 auto 22px;
  padding-right: 30px;
  padding-left: 30px;
}

.content {
  padding: 25px 0 0;
  position: relative;
  margin: 0 auto;
  text-align: left;
}
.content > div {
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
}
.content h1 {
  font-weight: 500;
  font-size: 19px;  /* we don't want a header breaking onto next line on mobile */
  border-radius: 5px;
  /* text-transform: capitalize; */
  display: inline-block;
  line-height: 1.333em;
  /* letter-spacing: -.02em; */
  margin: 25px 0 12px -10px;
  padding: 0 10px 0;
}
.content p {
  margin-bottom: 50px;
}

.work-block-wrapper {
  margin: 0  auto;
  display: table-row;
  text-align: left;
  width: 100%;
}
.work-right, .work-left {
  display: table-cell;
  vertical-align: top;
}
.work-right h1 {
  width: 100%;
}
.work-left {
  width: 75px;
  text-align: center;
  position: relative;
  z-index: -1;
}
svg.work-line {
  position: absolute;
  height: 85%;
  left: 17px;
  top: 55px;
}
.work-line {
  opacity: 0;
  transition: opacity .4s ease-in;
  animation: hover 4s ease-in-out infinite;
  animation-delay: .1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.work-icon {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
}
.work-title {
  display: inline-block;
  margin: 0 0 -1px -10px;
  margin-right: -10px;
  padding: 0 10px;
  line-height: 1.333em;
  border-radius: 4px;
}

.fade-in {
  opacity: 1 !important;
}

@keyframes hover {
  0% { transform: translateY(0px); }
  50% { transform: translateY(10px); }
  100% { transform: translateY(0px); }
}

.item-wrapper {
  position: relative;
  margin: 0 auto;
  display: table-row;
  text-align: left;
  width: 100%;
}
.item-wrapper .item-icon {
  display: table-cell;
  width: 75px;
  position: relative;
}
.item-content {
  display: table-cell;
}
.item-icon-base {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  /* for bursting */
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-position: left;
  background-size: 2900%;
  height: 160px;  /* ~150px is ideal, but that causes visual render glitch */
  width: 160px;   /* on iPhone 8 and below for some reason. 140px seems fine. */
  top: -25px;
  left: -45px;
}

.header-section a {
  font-size: 14px;
  color: #666;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 500;
}
.header-section a.not-btn {
  padding: 30px 15px;
  margin: 0;
}
.header-section a.not-btn-active {
  color: #2d99d3;
}
.header-section a.not-btn-active:hover {
  opacity: 1;
  cursor: default;
}
.header-section a.btn {
  margin: 10px;
  color: #fff;
  cursor: pointer;
  background: #00a0f5;
  border: 1px solid #00a0f5;
  border-radius: 3px;
  white-space: nowrap;
  padding: 12px 24px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
}
.header-section a.btn-active {
  opacity: 1;
  cursor: default;
}

.profile {
  margin: 0 auto;
  height: 250px;
  width: 250px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
  position: absolute;
  z-index: 1;
  top: -75px;
  left: 50%;
  margin-left: -125px;
}

.profile-static {
  margin: 0 auto;
  height: 110px;
  width: 110px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 145%;
  position: relative;
  z-index: 1;
}

.has-bursted {
  z-index: -1;
  animation: stary-burst .8s steps(28) 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-attachment: initial;
}

@keyframes stary-burst {
  from {
    background-position:left;
  }
  to {
    background-position: right;
  }
}

.hot-links {
  position: relative;
  background: none;
  min-width: 300px;
  min-height: 30px;
  margin: 10px auto 20px;
}
.hot-links a {
  outline: none !important;
  margin: 10px 7px;
  display: inline-block;
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  background-color: none;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
.hot-links a:hover {
  opacity: 1;
}
svg {
  height: auto;
  width: auto;
}

.item-safe-wrapper, .work-safe-wrapper {
  opacity: 1;  /* `0.1` for fade in */
  transition: opacity .3s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.animate-highlight-text-right {
  /* background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #fbe9a3 50%); */
  background-position: 0% 0;
  background-size: 200% auto;
  animation: slide-highlight-right .3s cubic-bezier(1.000, 0.005, 0.825, 0.455) 1;
  animation-delay: .1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slide-highlight-right {
  from { background-position: 0% 0; }
  to { background-position: -100% 0; }
}

p {
  font-size: 15px;
  line-height: 25.8px;
  color: #47525d;
  font-weight: 400;
  margin-bottom: 26px;
}

a {
  color: #00a0f5;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
a:hover {
  opacity: .75;
}

.text-cycle {
  display: inline-block;
  overflow: hidden;
  height: 24.4px;  /* same height as the h2 header text */
  vertical-align: bottom;
}
.text-cycle ul {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: margin-top .45s ease-in-out;
  -moz-transition: margin-top .45s ease-in-out;
  transition: margin-top .45s ease-in-out;
}
.text-cycle li {
  display: block;
  color: #eb3349;
  height: 30px;
  font-weight: 500;
  text-align: left;
}

.repo-circle {
  content: "";
  display: inline-block;
  background: red;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 5px;
  top: 1px;
}

/* Blog stuff */
.blog-post-item {
  display: block;
  transition: all 150ms ease-in-out;
}

.blog-post-item:hover { opacity: 1; }
.blog-post-item:hover > h1 {
  text-decoration: underline;
}

.blog-wrapper {
  max-width: 640px !important;
}
.blog-content {
  margin: 15px 0 50px;
}
.blog-content p {
  margin: 10px 0 20px;
}
.blog-content h2 {
  margin: 35px 0 20px;
  font-size: 21px;
  font-weight: 500;
}
.blog-content h3 {
  margin: 35px 0 20px;
  font-size: 19px;
  font-weight: 500;
}
.blog-content h4, .blog-content h5, .blog-content h6 {
  margin: 35px 0 20px;
  font-size: 18px;
  font-weight: 500;
}

.blog-tag {
  box-sizing: border-box;
  font-size: 12px;
  padding: 0 8px;
  margin-right: 8px;
  font-weight: 600;
  height: 20px;
  border-radius: 20px;
  color: #fff;
  background: none;
  display: inline-block;
  text-transform: capitalize;
}

/* Keep media queries at bottom */
@media only screen and (max-width: 550px) {
  html {
    font-size: 100%;
  }
  .content {
    width: 100%;
  }
  p {
    font-size: 17px;
    line-height: 27.8px;
  }
  .wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
  .text-cycle {
    margin-top: 10px;
  }
  .text-cycle li {
    text-align: center;
    height: 29px;
  }
  svg.work-line {
    height: 90%;
    left: 9px !important;
    top: 40px;
  }
  .blog-posts, .blog-wrapper {
    padding: 0 10px;
  }
}
